{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.status.edit.title'|trans }} - {{ status.name }}{% endblock title %}

{% block main %}
    <div class="x-margin">
        {% include 'app/common/button/_back.html.twig' with {path_back: path('admin_status_list')} only %}
    </div>
    <div class="o-container">
        <h1 class="o-title x-noMargin">{{ 'admin.status.edit.title'|trans }} - {{ status.name }}</h1>
        {{ form(form) }}
    </div>
{% endblock main %}
