{% if projects is not empty %}
    <div class="{{ block }}">
        {% set blockLeading = block ~ '__leading' %}
        <div class="{{ blockLeading }}">
            <span class="{{ blockLeading }}__code">{{ 'project.list.code'|trans }}</span>
            <strong class="{{ blockLeading }}__name">{{ 'project.list.name'|trans }}</strong>
            <span class="{{ blockLeading }}__teamProjectResponsibleFullName">{{ 'project.list.teamProject.responsible.full_name'|trans }}</span>
            <span class="{{ blockLeading }}__teamProjectName">{{ 'project.list.teamProject.name'|trans }}</span>
            <span class="{{ blockLeading }}__teamCustomerResponsibleFullName">{{ 'project.list.teamCustomer.responsible.full_name'|trans }}</span>
            <span class="{{ blockLeading }}__teamCustomerName">{{ 'project.list.teamCustomer.name'|trans }}</span>
            <span class="{{ blockLeading }}__status">{{ 'project.list.status'|trans }}</span>
            <span class="{{ blockLeading }}__original">{{ 'project.list.original'|trans }}</span>
            <span class="{{ blockLeading }}__consumed">{{ 'project.list.consumed'|trans }}</span>
            <span class="{{ blockLeading }}__remaining">{{ 'project.list.remaining'|trans }}</span>
            <span class="{{ blockLeading }}__landing">{{ 'project.list.landing'|trans }}</span>
            <span class="{{ blockLeading }}__startedAt">{{ 'project.list.startedAt'|trans }}</span>
            <span class="{{ blockLeading }}__endedAt">{{ 'project.list.endedAt'|trans }}</span>
            <span class="{{ blockLeading }}__archived">{{ 'project.list.archived'|trans }}</span>
            <span class="{{ blockLeading }}__updatedAt">{{ 'project.list.updatedAt'|trans }}</span>
        </div>
        {% set blockItem = block ~ '__item' %}
        {% for project in projects %}
            <a class="{{ blockItem }}" href="{{ path('project', {'uuid': project.uuid}) }}">
                <span class="{{ blockItem }}__code">{{ project.code }}</span>
                <strong class="{{ blockItem }}__name">{{ project.name }}</strong>
                <span class="{{ blockItem }}__teamProjectResponsibleFullName">{{ project.teamProject.responsible.fullName }}</span>
                <span class="{{ blockItem }}__teamProjectName">{{ project.teamProject.name }}</span>
                <span class="{{ blockItem }}__teamCustomerResponsibleFullName">{{ project.teamCustomer.responsible.fullName }}</span>
                <span class="{{ blockItem }}__teamCustomerName">{{ project.teamCustomer.name }}</span>
                <span class="{{ blockItem }}__status o-btn--noHover" style="background-color: {{ project.status.color }};">{{ project.status.name }}</span>
                <span class="{{ blockItem }}__original">{{ project.budget.original }} €</span>
                <span class="{{ blockItem }}__consumed">{{ project.budget.consumed }} €</span>
                <span class="{{ blockItem }}__remaining">{{ project.budget.remaining }} €</span>
                <span class="{{ blockItem }}__landing">{{ project.budget.landing }} €</span>
                <span class="{{ blockItem }}__startedAt">{{ project.startedAt|date('d/m/Y') }}</span>
                <span class="{{ blockItem }}__endedAt">{{ project.endedAt|date('d/m/Y') }}</span>
                <span class="{{ blockItem }}__archived">{{ project.archived ? 'Oui' : 'Non' }}</span>
                <span class="{{ blockItem }}__updatedAt">{{ project.updatedAt|date('d/m/Y \\à h\\hi') }}</span>
            </a>
        {% endfor %}
    </div>
{% else %}
    <span class="o-btn--noHover">{{ emptyMessage }}</span>
{% endif %}
